<app-header></app-header>
<div class="container">
    <h1>Contact</h1>
    <div class="contact-form">
        <form action="">
            <input type="text" class="form-control fname" placeholder="Enter First Name" >
            <input type="text" class="form-control lname" placeholder="Enter Last Name" >
            <input type="text" class="form-control" placeholder="Enter Email Id" >
            <input type="text" class="form-control" placeholder="Enter Mobile" >
              <button class="btn btn-md btn-dark">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>