<footer>
    <div class="footer-content">
        <div class="text">
            <h3>Foodies</h3>
            <p>Good Food Good Life</p>
        </div>
        <div class="menu">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </div>
        <div class="social">
           <a href=""> <i class="fa fa-facebook fa-inverse"></i></a>
            <a href=""> <i class="fa fa-instagram  fa-inverse"></i></a>
            <a href=""> <i class="fa fa-twitter  fa-inverse"></i></a>
            <a href=""> <i class="fa fa-youtube  fa-inverse"></i></a>
        </div>
    </div>
</footer>