<nav>
    <div class="nav-container">
        <h2 class="logo">Foodies</h2>
        <button class="navbar-toggler" type="button" (click)="showToggle()" >
            <span class="fa fa-bars"></span>
          </button>
        <ul *ngIf="toggle">
            <li><a routerLink="/home"  routerLinkActive="active" >Home</a></li>
            <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</nav>